<div class="footer grey">
    <div>
        <a href="#/home" analytics-on="click" analytics-event="Navigate" analytics-category="Footer"
           analytics-label="Home">HOME</a>
        <a href="#/projects" analytics-on="click" analytics-event="Navigate" analytics-category="Footer"
           analytics-label="Projects">PROJECTS</a>
        <a href="#/resume" analytics-on="click" analytics-event="Navigate" analytics-category="Footer"
           analytics-label="Resume">RESUME</a>
        <a href="#/contact" analytics-on="click" analytics-event="Navigate" analytics-category="Footer"
           analytics-label="Contact">CONTACT</a>
    </div>
    <div>
        <a href="https://www.instagram.com/wong.vincent/" target="_blank" analytics-on="click"
           analytics-event="Instagram" analytics-category="Footer">
            <img src="public/img/instagram_white.png">
        </a>
        <a href="https://ca.linkedin.com/in/vincentw1" target="_blank" analytics-on="click"
           analytics-event="LinkedIn" analytics-category="Footer">
            <img src="public/img/linkedin_white.png">
        </a>
        <a href="mailto:" target="_top" analytics-on="click" analytics-event="Email"
           analytics-category="Footer">
            <img src="public/img/mail.png">
        </a>
    </div>
    <div>&copy; {{year}} Vincent Wong</div>
</div>