<div id="nav-header">
    <button>
        <a href="#/home" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
           analytics-label="Home">
            HOME
        </a>
    </button>
    <button>
        <a href="#/projects" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
           analytics-label="Projects">
            PROJECTS
        </a>
    </button>
    <button>
        <a href="#/resume" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
           analytics-label="Resume">
            RESUME
        </a>
    </button>
    <button>
        <a href="#/contact" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
           analytics-label="Contact">
            CONTACT
        </a>
    </button>
</div>