<div id="nav-header">
    <a href="#/home" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
       analytics-label="Home">
        HOME
    </a>
    <a href="#/projects" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
       analytics-label="Projects">
        PROJECTS
    </a>
    <a href="#/resume" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
       analytics-label="Resume">
        RESUME
    </a>
    <a href="#/contact" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
       analytics-label="Contact">
        CONTACT
    </a>
</div>