<div id="contact">
    <div id="top">
        <div class="nav-header-div"></div>
        <div id="text" class="white hidden" when-visible="animateInFadeInDown">Contact</div>
    </div>

    <div id="body">
        <div id="body2" class="hidden" when-visible="animateInFadeIn">
            <div id="contact-info">
                <div id="name">Vincent Wong</div>
                <div id="email">
                    <a href="mailto:hello@vincentwong.me" target="_top" analytics-on="click" analytics-event="Email"
                       analytics-category="Contact">
                        hello@vincentw.me
                    </a>
                </div>
                <div id="icons">
                    <a href="https://www.instagram.com/wong.vincent/" target="_blank" analytics-on="click"
                       analytics-event="Instagram" analytics-category="Contact">
                        <img src="public/img/instagram_white2.png">
                    </a>
                    <a href="https://ca.linkedin.com/in/vincentw1" target="_blank" analytics-on="click"
                       analytics-event="LinkedIn" analytics-category="Contact">
                        <img src="public/img/linkedin_white.png">
                    </a>
                </div>
              <!--  <div id="view-resume">
                    <a href="https://docs.google.com/viewer?url=http://vincentw.me/vincent_wong_resume.pdf" target="_blank" analytics-on="click" analytics-event="View Resume" analytics-category="Contact">
                        VIEW RESUME
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>
