<div id="home">
    <div id="banner" class="panels">
        <div id="banner-image">
            <div id="banner-overlay">
                <div when-visible="animateInFadeInDown" class="hidden" id="banner-heading">
                    <div id="banner-title">Hello World</div>
                    <div id="banner-subtitle"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="myprojects" class="panels">
        <div class="heading">Lovely Projects</div>
    </div>

    <div id="life" class="panels">
        <div class="heading">Life in Pictures</div>
        <div id="pictures">
            <a ng-href="{{pic.href}}" target="_blank" ng-repeat="pic in instagramPics">
                <span class="text">
                    {{pic.text}}
                </span>
                <img ng-src="{{pic.img}}" when-visible="animateInZoomIn" class="hidden">
            </a>
        </div>
    </div>

    <div id="aboutme" class="panels">
        <div id="wrapper">
            <img src="public/img/me2.jpg">

            <div id="text">
                <div id="heading">
                    Hello. I'm Vincent.
                </div>
                <div id="subheading">
                </div>
                <div id="body">
                    I am a developer based in Vancouver, Canada.
                    Currently, I am a student at the University of British Columbia.
                    Aside from programming, I enjoy hiking on the local mountains.
                    <br><br>
                    Feel free to connect with me!
                    <div class="images">
                        <div>
                            <a href="https://github.com/wongvincent" target="_blank" analytics-on="click"
                               analytics-event="GitHub" analytics-category="AboutMe">
                                <img src="public/img/github_dark_64.png">
                            </a>
                        </div>
                        <div>
                            <a href="https://ca.linkedin.com/in/vincentw1" target="_blank" analytics-on="click"
                               analytics-event="LinkedIn" analytics-category="AboutMe">
                                <img src="public/img/linkedin_dark_64.png">
                            </a>
                        </div>
                        <div>
                            <a href="mailto:hello@vincentwong.me" target="_top" analytics-on="click" analytics-event="Email"
                               analytics-category="AboutMe">
                                <img src="public/img/mail_dark_64.png">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/wong.vincent/" target="_blank" analytics-on="click"
                               analytics-event="Instagram" analytics-category="AboutMe">
                                <img src="public/img/instagram_dark_64.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>