<!--<div when-visible="animateInPulse" when-not-visible="animateOutPulse" class="hidden"></div>-->
<div id="home">
    <div id="banner" class="panels">
        <div id="banner-image">
            <div id="banner-overlay">
                <div id="banner-heading">
                    <div id="banner-title">Hello World</div>
                    <div id="banner-subtitle"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="projects" class="panels">My Lovely Projects</div>
    <div id="life" class="panels"> My Life </div>
    <div id="aboutme" class="panels"> About Me </div>

</div>