<!--<div when-visible="animateInPulse" when-not-visible="animateOutPulse" class="hidden"></div>-->
<div id="nav-header">
    <button>
        <a href="#/home" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
           analytics-label="Home">
            HOME
        </a>
    </button>
    <button>
        <a href="#/projects" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
           analytics-label="Projects">
            PROJECTS
        </a>
    </button>
    <button>
        <a href="#/resume" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
           analytics-label="Resume">
            RESUME
        </a>
    </button>
    <button>
        <a href="#/contact" analytics-on="click" analytics-event="Navigate" analytics-category="Header"
           analytics-label="Contact">
            CONTACT
        </a>
    </button>
</div>
<div id="home">
    <div id="banner" class="panels">
        <div id="banner-image">
            <div id="banner-overlay">
                <div id="banner-heading">
                    <div id="banner-title">Hello World</div>
                    <div id="banner-subtitle"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="projects" class="panels">
        <div class="heading">Lovely Projects</div>
    </div>

    <div id="life" class="panels">
        <div class="heading">Life in Pictures</div>
        <div id="pictures">
            <a href="https://www.instagram.com/p/-zawaiKW5F/" target="_blank"><img
                    src="public/img/mylife/instagram5.png" when-visible="animateInFlipInX" class="hidden"></a>
            <a href="https://www.instagram.com/p/9ZqS6QKW6W/" target="_blank"><img
                    src="public/img/mylife/instagram3.png" when-visible="animateInFlipInX" class="hidden"></a>
            <a href="https://www.instagram.com/p/-zaPxzqW4J/" target="_blank"><img
                    src="public/img/mylife/instagram4.png" when-visible="animateInFlipInX" class="hidden"></a>
            <a href="https://www.instagram.com/p/9KYsWyKW7d/" target="_blank"><img
                    src="public/img/mylife/instagram2.png" when-visible="animateInFlipInX" class="hidden"></a>
            <a href="https://www.instagram.com/p/1eEFdTKW1h/" target="_blank"><img
                    src="public/img/mylife/instagram1.png" when-visible="animateInFlipInX" class="hidden"></a>
        </div>
    </div>

    <div id="aboutme" class="panels">

    </div>

</div>