<div id="projects">
    <div id="top">
        <div class="nav-header-div"></div>
        <div id="text" class="white hidden" when-visible="animateInFadeInDown">Projects</div>
    </div>

    <div id="body">
        <div id="body2" >
            <div class="item" when-visible="animateInZoomIn" when-not-visible="animateInZoomIn" class="hidden">
                <div class="title">
                    Music Store Database Application
                </div>
                <div class="description">
                    Created a responsive UI in order to display information stored in a MySQL database
                </div>
                <div class="technologies">
                    Technology Used: AngularJS, PHP, MySQL
                </div>
                <div class="picture">

                </div>
            </div>
        </div>

    </div>
</div>
