<div id="resume" class="not-home">
    <div id="top">
        <div class="nav-header-div"></div>
        <div id="text" class="white hidden" when-visible="animateInFadeInDown">Résumé</div>
        <div id="view-resume" when-visible="animateInFadeInUp" class="hidden">
            <a href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/wongvincent/wongvincent.github.io/master/vincent_wong_resume.pdf" analytics-on="click" analytics-event="View Resume" analytics-category="Resume">
                VIEW RESUME
            </a>
        </div>
    </div>

    <div id="body">

    </div>
</div>
