<div id="resume">
    <div id="top">
        <div class="nav-header-div"></div>
        <div id="text" class="white hidden" when-visible="animateInFadeInDown">Résumé</div>
        <!--<div id="view-resume" when-visible="animateInFadeInUp" class="hidden">
            <a href="https://docs.google.com/viewer?url=http://vincentwong.me/vincent_wong_resume.pdf" target="_blank"
               analytics-on="click" analytics-event="View Resume" analytics-category="Resume">
                VIEW RESUME
            </a>
        </div> -->
    </div>

    <div id="body">
        <div id="body2" class="hidden" when-visible="animateInFadeIn" delay-percent="0">
            <div class="module" id="technologies">
                <div class="title">
                    TECHNOLOGIES
                </div>
                <div class="content">
                    <div class="item">
                        <div class="heading">
                            Experience With
                        </div>
                        <div class="subheading">

                        </div>
                        <div class="details">
                            <ul>
                                <li ng-repeat="item in skills">{{item}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module" id="work-experience">
                <div class="title">
                    WORK EXPERIENCE
                </div>
                <div class="content">
                    <div class="item" ng-repeat="job in workExperience">
                        <div class="heading">
                            {{job.position}}
                        </div>
                        <div class="subheading">
                            <span class="heavier">{{job.company}},</span> {{job.location}}, {{job.date}}
                        </div>
                        <div class="details" ng-if="job.details">
                            <ul>
                                <li ng-repeat="detail in job.details">{{detail}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module" id="education">
                <div class="title">
                    EDUCATION
                </div>
                <div class="content">
                    <div class="item">
                        <div class="heading">
                            Bachelor of Science
                        </div>
                        <div class="subheading">
                            University of British Columbia, Vancouver, BC, 2011 - Present
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
