#home {
	.panels {
		position: relative;
		min-height: 300px;
		width: 100%;
		z-index: 100;
		background: white;
		text-align: center;
	}

	.panels:first-of-type + .panels {
		margin-top: $full-height;
	}

	.panels + .panels {
		padding: 65px 0;

		.heading {
			color: $dark-blue;
			font-size: 3em;
			font-weight: bold;
			padding-bottom: 40px;
		}
	}

	#banner {
		background: #eee;
		position: fixed;
		top: 0;
		z-index: -99;
		will-change: transform;

		#banner-image {
			height: $full-height;
			width: 100%;
			background-size: cover;

			#banner-overlay {
				//background-color: $banner-background-color;
				width: 100%;
				height: $full-height;

				div.animated {
					-webkit-animation-duration: 1s;
					-webkit-animation-duration: 1s;
					-moz-animation-duration: 1s;
				}
				#banner-heading {
					padding-top: calc(#{$full-height} / 2 - 100px);
					position: relative;
					text-align: center;

					#banner-title {
						padding: 0 20px;
						font-weight: 500;
						font-size: 90px;
						color: white;
						text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
					}

					@media (max-width: 459px) {
						//nexus 4-6, iphone 4, 5, 6, 6+
						#banner-title {
							font-size: 65px;
						}
					}

					#banner-subtitle {

					}
				}
			}
		}
	}

	#about {
		padding-bottom: 0;
		#wrapper {
			background: #eeeeee;
			img {
				text-align: center;
				display: inline-block;
				max-height: 350px;
			}

			#text {
				text-align: left;
				vertical-align: top;
				display: inline-block;
				width: auto;
				padding: 25px;
				font-size: 1.3em;
				#heading {
					color: $dark-blue;
					font-weight: bold;
					font-size: 2em;
					margin-bottom: 10px;
				}
				#subheading {
					font-weight: bold;
				}
				#body {
					a {
						font-weight: bold;
						color: $blue;
					}
					div.images {
						text-align: center;
						margin-top: 20px;
						div {
							display: inline-block;
							width: $about-me-image-size;
							margin: 10px;
							img {
								width: $about-me-image-size;
								height: $about-me-image-size;
								vertical-align: top;
								border-radius: 5px;
							}
							#github-aboutme-logo {
								border-radius: 25px;
							}
							img:hover {
								background-color: #FFF;
							}
						}
					}
				}
			}
		}
	}

	#projects .images {
		text-align: center;
		a {
			margin: 10px;
			position: relative;
			display: inline-block;

			.text {
				position: absolute;
				top: 0;
				color: white;
				background-color: rgba(0, 50, 100, 0.8);
				width: $instagram-image-size;
				height: $instagram-image-size;
				text-align: center;
				z-index: 10;
				opacity: 0;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
				line-height: $instagram-image-size;
			}

			.text.two-spans {
				line-height: normal;
				.title {
					margin-bottom: 10px;
					padding-top: 24px;
				}
				div:nth-child(2) {
					margin: 14px;
					font-size: 1.2em;
				}
			}

			.text.title, .text .title {
				font-weight: 500;
				display: block;
				font-size: 1.7em;
			}

			.text:hover {
				opacity: 1;
			}

			img {
				height: $instagram-image-size;
				width: $instagram-image-size;
			}
		}
	}

	#down-arrow {
		position: absolute;
		bottom: 25px;
		width: 100%;
		color: white;
		text-align: center;

		a {
			border: 2px solid;
			border-radius: 1000px;
			padding: 3px 11px;
			font-size: 35px;
			color: white;
		}
		a:hover {
			background-color: $dark-blue;
		}
	}
}
