#projects{
  #body{
    #body2{
      text-align: center;
      .item{
        text-align: left;
        display: inline-block;
        margin: 10px 0;
        padding: $projects-leftright-padding;
        border: 2px solid #777777;
        width: 400px;
        max-width: calc(100% - #{$projects-leftright-padding} * 2);
        .title{
          font-weight:bold;
          font-size: 1.4em;
        }
        .description{
          font-size: 1em;
          color: #666666;
          margin: 10px 0;
        }
        .technologies{
          font-size: 1em;
        }
        .picture{
          text-align: center;
        }
      }
    }
  }
}