#resume {
  #top {
    #view-resume {
      a {
        padding: 15px 25px;
        font-size: 1.2em;
        color: #eeeeee;
        border: 2px solid #eeeeee;
        background: #444444;
      }
      a:hover {
        background: #333333;
      }
    }
  }
}
