#resume {
  #top {
    #view-resume {
      a {
        padding: 20px;
        font-size: 1.2em;
        color: #eeeeee;
        border: 3px solid #eeeeee;
        background: #444444;
      }
      a:hover {
        color: $dark-blue;
        background: #eeeeee;
        border-color: $dark-blue;
      }
    }
  }
}
