.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 1.0s infinite;
  -moz-animation: blink 1.0s infinite;
  animation: blink 1.0s infinite;
  color: #0A0;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typewriter {
  font-family: Courier, monospace;
  font-weight: bold;
  font-size: 2.3em;
  color: black;
}
