//General
$breakpoints: (phone: 640px,
        tablet: 768px,
        desktop: 1024px) !default;

$royal-blue: #0076CB;
$blue: #27598C;
$dark-blue: #003264;
$full-height: 100vh;

//Layout
$nav-header-height: 51px;

$footer-height: 70px;
$footer-padding: 40px 0 40px; //when changed, update $footer-total-top-bot-padding
$footer-total-top-bot-padding: 80px;
$footer-image-size: 30px;

$view-height: #{$full-height} - #{$nav-header-height} - #{$footer-height} - 37px;
$not-home-top: 300px;
$not-home-body: #{$view-height} - 300px;
$body2-leftright-padding: 20px;
$projects-leftright-padding: 10px;


//Home
$banner-background-color: rgba(30, 70, 120, 0.2);
$instagram-image-size: 250px;
$about-me-image-size: 64px;