//General
$blue: #27598C;
$dark-blue: #003264;
$full-height: 100vh;


//Layout
$nav-header-height: 63px;

$footer-height: 85px;
$footer-top-bot-padding: 50px;


//Home
$banner-background-color: rgba(0, 50, 100, 0.6);
$instagram-image-size: 200px;