//General
$blue: #27598C;
$dark-blue: #003264;
$full-height: 100vh;


//Layout
$nav-header-height: 63px;

$footer-height: 85px;
$footer-padding: 40px 0 60px; //when changed, update $footer-total-top-bot-padding
$footer-total-top-bot-padding: 100px;

$view-height: #{$full-height} - #{$nav-header-height} - #{$footer-height} - 37px;
$not-home-top: 300px;
$not-home-body: #{$view-height} - 300px;


//Home
$banner-background-color: rgba(0, 50, 100, 0.6);
$instagram-image-size: 200px;