@media screen and (max-width: 355px) {
  #nav-header button {
    padding: 20px 5px !important; }
  #nav-header a {
    font-size: 1.0em !important; } }
@media screen and (min-width: 355px) and (max-width: 599px) {
  #nav-header button {
    padding: 20px 5px !important; }
  #nav-header a {
    font-size: 1.2em !important; } }
* {
  margin: 0; }

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

.white {
  color: #dddddd; }

.grey {
  color: #a0a0a0; }

.black {
  color: black; }

.hidden {
  visibility: hidden; }
