$dark-blue: #003264;
$blue: #27598C;
$banner-background-color: rgba(0, 50, 100, 0.6);
$instagram-image-size: 200px;
$full-height: 100vh;
$nav-header-height: 63px;

#home {
  .panels {
    position: relative;
    min-height: 300px;
    width: 100%;
    z-index: 100;
    background: white;
    text-align: center;
  }

  .panels:first-of-type + .panels {
    margin-top: $full-height;
  }

  .panels + .panels {
    padding: 65px 0;

    .heading {
      color: $dark-blue;
      font-size: 3em;
      font-weight: bold;
      padding-bottom: 40px;
    }
  }

  #banner {
    background: #eee;
    position: fixed;
    top: 0;
    z-index: -99;

    #banner-image {
      background: url('../img/capilanocanyon.jpg');
      background-repeat: round;
      height: $full-height;
      width: 100%;

      #banner-overlay {
        background-color: $banner-background-color;
        width: 100%;
        height: $full-height;

        #banner-heading {
          padding-top: calc(#{$full-height} / 2 - 100px);
          position: relative;
          text-align: center;

          #banner-title {
            font-size: 100px;
            font-weight: bold;
            color: white;
          }

          #banner-subtitle {

          }

        }
      }
    }
  }

  #life {
    #pictures {
      text-align: center;
      a {
        margin: 10px;
        position: relative;
        display: inline-block;

        .text {
          position: absolute;
          top: 0;
          color: white;
          background-color: $banner-background-color;
          width: $instagram-image-size;
          height: $instagram-image-size;
          line-height: $instagram-image-size;
          text-align: center;
          z-index: 10;
          opacity: 0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }

        .text:hover {
          opacity: 1;
        }

        img {
          height: $instagram-image-size;
          width: $instagram-image-size;
        }
      }
    }
  }

  #aboutme {
    padding-bottom: 0;
    #wrapper {
      background: #eeeeee;
      img {
        text-align: center;
        display: inline-block;
        max-height: 350px;
        max-width: 100%;
      }

      #text {
        text-align: left;
        vertical-align: top;
        display: inline-block;
        max-width: 500px;
        width: auto;
        padding: 25px;
        font-size: 1.2em;
        #heading {
          color: $dark-blue;
          font-weight: bold;
          font-size: 2em;
          margin-bottom: 10px;
        }
        #subheading {
          font-weight: bold;
        }
        #body {
          a{
            font-weight: bold;
            color: $blue;
          }
          a:hover{
            color:#999999;
          }
        }
      }
    }
  }
}


#resume{
  background: #387fc8;
  width: 100%;
  min-height: $full-height;
  text-align: center;

  #top{
    height: 400px;

    #text{
      font-weight: bold;
      font-size: 4.5em;
      padding: 60px 8px 30px;

    }

    #view-resume{
      a{
        padding: 20px;
        font-size: 1.2em;
        color:#eeeeee;
        border: 3px solid #eeeeee;
        background: #444444;
      }
      a:hover{
        color: $dark-blue;
        background: #eeeeee;
        border-color: $dark-blue;
      }
    }
  }

  #body{
    min-height:60vh;
    background-color:white;
  }
}