$blue : #003264;
$banner-background-color: rgba(0, 50, 100, 0.6);
$instagram-image-size: 200px;

#home {

  .panels {
    position: relative;
    min-height: 300px;
    width: 100%;
    z-index: 100;
    background: white;
    text-align: center;
  }

  .panels:first-of-type + .panels {
    margin-top: 100vh;
  }

  .panels + .panels {
    padding: 65px 0;

    .heading{
      color: $blue;
      font-size: 3em;
      font-weight:bold;
      padding-bottom: 40px;
    }
  }

  #banner {
    background: #eee;
    position: fixed;
    top: 0;
    z-index: -99;

    #banner-image {
      background: url('../img/capilanocanyon.jpg');
      background-repeat: round;
      height: 100vh;
      width: 100%;

      #banner-overlay {
        background-color: $banner-background-color;
        width: 100%;
        height: 100%;

        #banner-heading {
          padding-top: 50vh;
          position: relative;
          text-align: center;

          #banner-title {
            font-size: 100px;
            font-weight: bold;
            color: white;
          }

          #banner-subtitle {

          }

        }
      }
    }
  }

  #life{
    #pictures{
      text-align: center;
      a {
        margin: 0 10px;
        position: relative;
        display: inline-block;

        .text{
          position: absolute;
          top: 0;
          color: white;
          background-color: $banner-background-color;
          width: $instagram-image-size;
          height: $instagram-image-size;
          line-height: $instagram-image-size;
          text-align: center;
          z-index: 10;
          opacity: 0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }

        .text:hover{
          opacity: 1;
        }

        img{
          height: $instagram-image-size;
          width: $instagram-image-size;
        }
      }




    }
  }
}
