#home .panels {
  position: relative;
  min-height: 300px;
  width: 100%;
  z-index: 100;
  background: white;
  text-align: center; }
#home .panels:first-of-type + .panels {
  margin-top: 100vh; }
#home .panels + .panels {
  padding: 65px 0; }
  #home .panels + .panels .heading {
    color: #003264;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 40px; }
#home #banner {
  background: #eee;
  position: fixed;
  top: 0;
  z-index: -99; }
  #home #banner #banner-image {
    background: url("../img/capilanocanyon.jpg");
    background-repeat: round;
    height: 100vh;
    width: 100%; }
    #home #banner #banner-image #banner-overlay {
      background-color: rgba(0, 50, 100, 0.6);
      width: 100%;
      height: 100%; }
      #home #banner #banner-image #banner-overlay #banner-heading {
        padding-top: 50vh;
        position: relative;
        text-align: center; }
        #home #banner #banner-image #banner-overlay #banner-heading #banner-title {
          font-size: 100px;
          font-weight: bold;
          color: white; }
#home #life #pictures {
  text-align: center; }
  #home #life #pictures a {
    margin: 0 10px;
    position: relative;
    display: inline-block; }
    #home #life #pictures a .text {
      position: absolute;
      top: 0;
      color: white;
      background-color: rgba(0, 50, 100, 0.6);
      width: 200px;
      height: 200px;
      line-height: 200px;
      text-align: center;
      z-index: 10;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #home #life #pictures a .text:hover {
      opacity: 1; }
    #home #life #pictures a img {
      height: 200px;
      width: 200px; }
