@media screen and (max-width: 355px) {
  #nav-header a {
    font-size: 0.9em !important; } }
@media screen and (min-width: 355px) and (max-width: 459px) {
  #nav-header a {
    font-size: 1.0em !important; } }
* {
  margin: 0; }

html, body {
  height: 100%;
  font-family: Segoe,Segoe UI,Calibri,Arial,sans-serif;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.white {
  color: #eeeeee; }

.grey {
  color: #a0a0a0; }

.black {
  color: black; }

.hidden {
  visibility: hidden; }

.nav-header-div {
  height: 51px; }

.wrapper {
  min-height: calc(100% - 80px);
  height: auto !important;
  margin: 0 auto;
  margin-bottom: -70px;
  /* the bottom margin is the negative value of the footer's height */ }
  .wrapper .container {
    position: absolute;
    height: 100%;
    width: 100%; }

.middle-of-page {
  top: 51px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 51px - 70px - 37px);
  text-align: center; }
  .middle-of-page div {
    position: relative;
    top: calc(50vh - 70px - 51px); }

#projects, #resume, #contact {
  background: #387fc8;
  width: 100%;
  min-height: calc(100vh - 51px - 70px - 37px);
  text-align: center; }
  #projects #top, #resume #top, #contact #top {
    height: 300px; }
    #projects #top #text, #resume #top #text, #contact #top #text {
      font-weight: bold;
      font-size: 4.5em;
      padding: 40px 8px 30px; }
  #projects #body, #resume #body, #contact #body {
    color: #333333;
    max-width: 100vw;
    min-height: calc(100vh - 51px - 70px - 37px - 300px);
    height: auto;
    background: #eeeeee; }
    #projects #body #body2, #resume #body #body2, #contact #body #body2 {
      max-width: calc(100vw - 20px * 2);
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      padding: 30px 20px 60px 20px; }

#nav-header {
  text-align: center;
  z-index: 1000;
  height: 51px;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 18px #222222; }
  #nav-header a {
    color: #cccccc;
    font-size: 1.3em;
    line-height: 2.5;
    margin: 2px;
    padding: 12px 7px;
    -webkit-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s; }
  #nav-header a:hover {
    color: #ffffff; }

.footer {
  background: #2b2b2b;
  width: 100%;
  padding: 40px 0 40px 0;
  font-size: 0.9em;
  text-align: center;
  height: 70px; }
  .footer a {
    display: inline-block;
    margin: 0px 2px 10px;
    padding: 0 3px 10px;
    color: #bbbbbb;
    font-weight: bold; }
  .footer div.images {
    height: 40px; }
    .footer div.images div {
      display: inline-block;
      width: 30px;
      text-align: center;
      margin: 0 8px; }
      .footer div.images div img {
        width: 30px;
        height: 30px;
        vertical-align: middle; }
      .footer div.images div #github-footer-logo {
        border-radius: 15px; }
      .footer div.images div img:hover {
        background: #0076CB; }

#home .panels {
  position: relative;
  min-height: 300px;
  width: 100%;
  z-index: 100;
  background: white;
  text-align: center; }
#home .panels:first-of-type + .panels {
  margin-top: 100vh; }
#home .panels + .panels {
  padding: 65px 0; }
  #home .panels + .panels .heading {
    color: #003264;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 40px; }
#home #banner {
  background: #eee;
  position: fixed;
  top: 0;
  z-index: -99; }
  #home #banner #banner-image {
    height: 100vh;
    width: 100%;
    background-size: cover; }
    #home #banner #banner-image #banner-overlay {
      width: 100%;
      height: 100vh; }
      #home #banner #banner-image #banner-overlay div.animated {
        -webkit-animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s; }
      #home #banner #banner-image #banner-overlay #banner-heading {
        padding-top: calc(100vh / 2 - 100px);
        position: relative;
        text-align: center; }
        #home #banner #banner-image #banner-overlay #banner-heading #banner-title {
          padding: 0 20px;
          font-weight: 500;
          font-size: 90px;
          color: white;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
        @media (max-width: 459px) {
          #home #banner #banner-image #banner-overlay #banner-heading #banner-title {
            font-size: 65px; } }
#home .images {
  text-align: center; }
  #home .images a {
    margin: 10px;
    position: relative;
    display: inline-block; }
    #home .images a .text {
      position: absolute;
      top: 0;
      color: white;
      background-color: rgba(0, 50, 100, 0.6);
      width: 250px;
      height: 250px;
      text-align: center;
      z-index: 10;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      line-height: 250px; }
    #home .images a .text.two-spans {
      line-height: normal; }
      #home .images a .text.two-spans .title {
        margin-bottom: 10px;
        padding-top: 50px; }
    #home .images a .text.title, #home .images a .text .title {
      font-weight: 500;
      display: block; }
    #home .images a .text:hover {
      opacity: 1; }
    #home .images a img {
      height: 250px;
      width: 250px;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0); }
#home #about {
  padding-bottom: 0; }
  #home #about #wrapper {
    background: #eeeeee; }
    #home #about #wrapper img {
      text-align: center;
      display: inline-block;
      max-height: 350px; }
    #home #about #wrapper #text {
      text-align: left;
      vertical-align: top;
      display: inline-block;
      max-width: 500px;
      width: auto;
      padding: 25px;
      font-size: 1.2em; }
      #home #about #wrapper #text #heading {
        color: #003264;
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 10px; }
      #home #about #wrapper #text #subheading {
        font-weight: bold; }
      #home #about #wrapper #text #body a {
        font-weight: bold;
        color: #27598C; }
      #home #about #wrapper #text #body div.images {
        margin-top: 10px; }
        #home #about #wrapper #text #body div.images div {
          display: inline-block;
          width: 50px;
          text-align: center;
          margin: 12px; }
          #home #about #wrapper #text #body div.images div img {
            width: 50px;
            height: 50px;
            vertical-align: top;
            border-radius: 5px; }
          #home #about #wrapper #text #body div.images div #github-aboutme-logo {
            border-radius: 25px; }
          #home #about #wrapper #text #body div.images div img:hover {
            background-color: #0076CB; }
#home #down-arrow {
  position: absolute;
  bottom: 25px;
  width: 100%;
  color: white;
  text-align: center; }
  #home #down-arrow a {
    border: 2px solid;
    border-radius: 1000px;
    padding: 3px 11px;
    font-size: 35px;
    color: white; }
  #home #down-arrow a:hover {
    background-color: #003264; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 1.0s infinite;
  -moz-animation: blink 1.0s infinite;
  animation: blink 1.0s infinite;
  color: #0A0; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.typewriter {
  font-family: Courier, monospace;
  font-weight: bold;
  font-size: 2.3em;
  color: black; }

/*# sourceMappingURL=style.css.map */
